* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

// хак для сброса цвета input background

input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}
